
body {
  background: url("Assets/Images/colorcomic.jpg")  center center;
  background-size: cover;
  
}


* {
  box-sizing: border-box;
}


   
button{
  margin:0% 5% 0% 5%;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: 5px 10px #0c05355b;
}

#enter1 {
background-color:rgba(0,212,255,1) ;
font-family: 'Sigmar One', cursive;
font-weight: bolder;
margin:-8% 30% 5% 12%;
color: rgba(255, 0, 170, 0.7);
  font-family: 'Luckiest Guy', cursive;
  font-size: 55px;
  font-weight: bolder;
  text-shadow: 
      0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0,0,0,.1),
      0 0 5px rgba(0,0,0,.1),
      0 1px 3px rgba(0,0,0,.3),
      0 3px 5px rgba(0,0,0,.2),
      0 5px 10px rgba(0,0,0,.25),
      0 10px 10px rgba(0,0,0,.2),
      0 20px 20px rgba(0,0,0,.15);
}



h1 {
  
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  text-align: center;
  color:rgb(43, 13, 179);
  padding-top: 5%;
  padding-bottom: 5%;
margin: 17% 25% 0% 35%;
text-shadow:4px 4px (43, 13, 179);
font-weight: bolder;
border-style: solid;
width:50%;
height:40%;
border-radius: 25%;
border-width: 10px;
border-color: black;
background-color: chartreuse;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img{
  height: 25%;
  width:15%;
  float:right;
  
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
